h3 { /* covers hsl and 1 absolute size*/
    font-size: 1cm;
    color:hsl(202, 71%, 60%);
}
li { /*covers rgb color and font requirement*/
    color:rgb(201, 211, 211);
    font-family: "Sofia", sans-serif; 
}
#features { /*covers id selector, position, and */
    position: relative;
}

#testText { /*covers text color, decoration, and align*/

    text-decoration: underline;
    color: rgb(62, 173, 173);
    text-align: left;
    font-size: 30px;
}

/*one pseudo class for hover for link */
a:hover{
    background-color: red;
}
/* another pseudo class for link*/
a:active{
    color:rgb(62, 173, 173)
}

/* box model 2 to cover short hand form*/
.important2 {
    background-color: aqua;
    margin:auto;
    padding:auto;
    border:2px groove rgb(0, 255, 187);
    border-radius: 0%; 
    position:static; /* second position*/
}
/*First display*/
.display1 {
    display:block;
}
/*Second Display*/
.display2 {
    display:none /*Disappeared like it was supposed to */
}
/*Responsiveness, light green backgorund at least 1080 height */
@media only screen and (max-width: 2160px) {
    body {
        background-color: lightgreen;
    }
}

/*covers selector list*/
h2, h1 {
    color:rgb(235, 5, 93)
}

/*sizing*/
strong {
    height: auto;
    width:auto;
    max-width: auto;
    min-width: auto;
}

/*combining 2 selectors*/
h3.combine {
    background-color:blueviolet
}

/*shorthand for margin*/
.important3 {
    margin:0 0 0 0;
    padding:auto;
    border:2px groove rgb(204, 0, 255);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: inherit;
}  

/*flex container*/

.notimportant {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 100px;
}

/*universal selector*/
* {
    padding:0;
}

/*child combinator*/
div li {
    color:blue
}

/*child combinator*/
ul > li {
    background-color: lightcoral;
}
div + h3 {
    background-color: green;
}

div + b {
    background-color: rgb(33, 17, 208);
}
